/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  box-sizing: border-box;
}

/* Removing as this interferes with other boxes on the site - KS
*, *:before, *:after {
  box-sizing: inherit;
}*/

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */



body {
    color: #444;
    font: 11px/1.35 "Open Sans",sans-serif;
    text-align: center;

}


.main {
  background-color: #fff;
  margin: 0 0 14px;
  min-height: 350px;
  text-align: left;
  overflow: auto;
  border: none;
}

.main.wetLayout {
	min-height: 325px;
	margin-bottom: 0;
}

.col1-layout {
  background-position: -1000px 0;
}

.col1-layout .col-main {
  float: none;
  width: auto;
}


.page {
  background: none repeat scroll 0 0 #fff;
  box-shadow: none;
  padding: 0 20px;
  margin: 0 auto;
    text-align: center;
    width: 960px;
}

.header {width:100%;overflow: auto; height: 325px;}
.header img {width:100%; height: auto;}


.col2-right-layout {
  background-position: 573px 0;
}

.col2-right-layout .col-main {
  float: left;
  padding: 0 20px 20px;
  width: 695px;
}

.col-right {
  float: right;
  margin: 0 0 -1px;
  padding: 0;
  width: 182px;
}

.subWetLayout{
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.sidebar {
  min-height: 350px;
}



.allWetSuits h2 {
	color: #009fe2; 
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
	clear: both;
}
.noMarge {
	margin-top: 0;
}

.allWetSuits .wsButton {
	font-size: 14px;
	font-weight: bold;
	background-color: #009fe2;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	clear: both;
	display: block;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	width: 70%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 1px;
}

.wsButton:hover {
	background-color: #444;
}

.suitcol {
    float: left;
    margin-bottom: 30px;
    margin-left: 20px;
    overflow: hidden;
    width: 190px;
}
.suitcol img {
	width: 100%;
	height: auto;
}

#wsForm {  background-color: #000;  display: block;  padding: 10px;  width: 172px;}

.formHeader p {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 35px;
}

p.wsWhite {
	color: white;
	font-weight: 100;
	font-size: 27px;
}
p.wsBlue {
	font-size: 30px;
	color: #009fe2;
	font-weight: 400;
	
}
#wsForm .caption{
	margin-top: 20px;
	color: white;
	font-size: 15px;
	font-weight: 100;
}

#wsForm input[type="text"] {  border: medium none;  border-radius: 5px;  font-size: 12px;  padding: 10px 0;  text-indent: 10px;  width: 162px;}
#wsForm .wsSubmit {  background-color: #009fe2;  border: medium none;  border-radius: 10px;  clear: both;  color: white;  display: block;  font-size: 14px;  font-weight: bold;  letter-spacing: 1px;  line-height: 18px;  margin-left: auto;  margin-right: auto;  margin-top: 10px;  padding: 10px;  text-align: center;  text-decoration: none;  text-transform: uppercase;  width: 162px;}

#wsForm .wsSubmit:hover {
	background-color: #444;
}

.wsStyleGuide * {
	width: 100%;
	height: auto;
	margin-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}